* {
  margin: 0px;
  padding-bottom: 10px;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  padding-top: 40px;
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}

.container {
  opacity: 100%;
  margin: auto;
  width: 400px;
}

.content {
}

#glCanvas {
  margin: 0px;
  padding: 0px;
  position: absolute;
  opacity: 70%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#gameButtonArea {
  margin-top: 20px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 0px;
  width: 400px;
  height: 400px;
}

#gameButtonArea > button {
  align-self: center;
  flex-basis: auto;
  width: 49%;
  height: 49%;
}

#Button01 {
  background: #88ff88;
}

#Button01:active,
#Button01.lit {
  background: #008800;
}

/************************************/
#Button02 {
  background: #88ffff;
}

#Button02:active,
#Button02.lit {
  background: #0088ff;
}

/************************************/
#Button03 {
  background: #ffff88;
}

#Button03:active,
#Button03.lit {
  background: #888800;
}

/************************************/
#Button04 {
  background: #ff5353;
}

#Button04:active,
#Button04.lit {
  background: #570000;
}

/************************************/
#Button05 {
  background: #ffaa44;
}

#Button05:active,
#Button05.lit {
  background: #ff7700;
}

/************************************/
#Button06 {
  background: #ff88ff;
}

#Button06:active,
#Button06.lit {
  background: #aa00aa;
}

.hidden {
  display: none;
}
